body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
}

.home {

}

.phone-img {
  background-image: url('https://www.instagram.com/static/images/homepage/home-phones@2x.png/9364675fb26a.png');
  background-repeat: no-repeat;
  background-size: 498px 680px;
  display: block;

  width: 460px;
  border: 1px solid black;
}

@media screen and (max-width: 970px) {
  .phone-img {
    display: none;
  }
}

.phone-img img {
  padding-left: 135px;
  padding-top: 105px;
  padding-bottom: 85px;
  height: 478px;
}
